@import "reset";
@import "fonts";
@import "vars";

html, body {
    height: 100%;
}

body {
    line-height: 1.3;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    background-color: $body-color;
    color: $black;
}

h2, h3, h4 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.4375rem;
    font-weight: 900;
    margin-bottom: 2rem;

    @include respond(md) {
        font-size: 1.19rem;
    }
}

h2 {
    font-size: 2rem;

    @include respond(md) {
        font-size: toRem(22);
    }
}

h3 {
    font-size: 1.625rem;

    @include respond(md) {
        font-size: toRem(20);
    }
} 

h4, h5 {
    font-size: 1.3125rem;

    @include respond(md) {
        font-size: 1.25rem;
    }
}

h5 {
    @include respond(md) {
        font-size: 1rem;
    }
}

p {
    margin-bottom: 1.9em;
}

a {
    text-decoration: none;
    transition: all 0.15s ease-in;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

input,
select,
input::placeholder {
    font-family: 'Roboto', sans-serif;
}

b {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn {
    border-width: 0;
    border-color: #ff5a00;
    border-style: solid;
    padding: toEm(25, 17) toEm(44, 17);
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: toRem(17);
    font-weight: 500;
    color: $white;
    background: #ff5a00;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
    transition: all 0.15s ease-in;
    box-shadow: 0px 0.65em 0.65em 0px rgba(255, 90, 0, 0.3);
    cursor: pointer;

    &:hover {
        color: inherit;
    }

    &_min-w {
        min-width: 336px;

        @include respond(md) {
            min-width: auto;
        }
    }

    @include respond(md) {
        width: toRem(270);
        line-height: 1;
        padding: toEm(19, 17) toEm(20, 17);
    }

    @media only screen and (min-width: 1024px) {
        br {
            display: none;
        }
    }

    &_sm {
        font-size: toRem(14);
        padding: toEm(10, 14) toEm(24,14);

        @include respond(md) {
            font-size: toRem(10);
        }

        
        @include respond(md) {
            width: auto;
            min-width: toRem(136);
        }

        &-const {
            @include respond(md) {
                font-size: toRem(14) !important;
                padding: toEm(15, 14) toEm(38, 14) !important;
            }
        }
    }



    &_sm.btn_border-3 {
        padding: toEm(7, 14) toEm(21, 14);

        @include respond(md) {
            padding: toEm(8, 14) toEm(12, 14);
        }
    }
    
    &_sm.btn_border-2 {
        padding: toEm(8, 14) toEm(22 ,14);

        @include respond(md) {
            padding: toEm(9, 14) toEm(13, 14);
        }
    }
    
    &_sm.btn_border-1 {
        padding: toEm(9, 14) toEm(23, 14);

        @include respond(md) {
            padding: toEm(10, 14) toEm(14, 14);
        }
    }

    &_block {
        display: block;
        width: 100%;
    }

    &_bg-transparent {
        background: transparent;
    }

    &_bg-white {
        background: #ffffff;
        color: $black;
    }

    &_bg-dark-blue {
        background: #172239;
    }

    &_color-black {
        color: #000000;
    }
    
    &_border-3 {
        border-width: 3px;
        padding: toEm(22, 17) toEm(41, 17);

        @include respond(md) {
            padding: toEm(16, 17) toEm(17, 17);
        }
    }

    &_border-2 {
        border-width: 2px;
        padding: toEm(23, 17) toEm(42, 17);

        @include respond(md) {
            padding: toEm(17, 17) toEm(18, 17);
        }
    }

    &_border-1 {
        border-width: 1px;
        padding: toEm(24, 17) toEm(43, 17);

        @include respond(md) {
            padding: toEm(18, 17) toEm(19, 17);
        }
    }

    &_icon {
        &:after {
            content: "\f175";
            font-family: "FontAwesome";
            font-weight: 400;
            font-size: 1.05em;
            color: #ffffff;
            position: absolute;
            right: 1.3em; top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &_border-white {
        border-color: #ffffff;
    }

    &_border-gray {
        border-color: #cdcdcd;
    }

    &_border-blue {
        border-color: $light-blue;
    }

    &_shadow-dark {
        box-shadow: 0px 0.65em 0.65em 0px rgba(0, 0, 0, 0.2);
    }

    &_shadow-soft {
        box-shadow: 0px 0.4em 0.4em 0px rgba(0, 0, 0, 0.15);
    }

    &_border-1.btn_empty-lg,
    &_border-2.btn_empty-lg,
    &_border-3.btn_empty-lg,
    &_empty-lg {
        @media only screen and (min-width: 1024px) {
            border: 0;
            padding: 0;
            margin: 0;
            text-align: left;
            text-decoration: none;
            background: transparent;
            color: inherit;
            border-radius: 0;
            font-size: inherit;
            font-weight: 400;
            color: inherit;
            white-space: inherit;
            box-shadow: none;
        }
    }

    &_abs-center {
        position: absolute;
        left: 50%; bottom: 0;
        transform: translate(-50%, 50%);
    }
}

.pick-btn {
    font-size: 1rem;
    border: 1px solid #6491b3;
    padding: toEm(24);
    margin: 0px 5px 5px 0;
    width: 75px; height: 70px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: $black;
    background: transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
    transition: all 0.15s ease-in;
    box-shadow: 0px 0.4em 0.4em 0px rgba(0, 0, 0, 0.15);

    @include respond(md) {
        font-size: toRem(14);
        width: 50px; height: 45px;
        border-radius: 3px;
        padding: toEm(12);
    }
}

.pick-buttons {
    padding-bottom: 1px;
}

.layout {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.keepcenter {
    max-width: 1171px;
    margin: 0 auto;
    
    @include respond(lg) {
        padding: 0px $lg-indent;
    }

    @include respond(md) {
        padding: 0px $md-indent;
    }

    @include respond(sm) {
        padding: 0px $sm-indent;
    }

    @include respond(xs) {
        padding: 0px $xs-indent;
    }

    &_narrow-indent-mob {
        @include respond(xs) {
            padding: 0px $xs-narrow-indent;

            .fix-narrow-indent {
                margin-left: diffNarrows();
            }
        }
    }
}

.main {
    flex-grow: 1;
}

.image-holder {
    position: relative;

    &:before {
        display: block;
        padding-top: 79.3%;
        content: "";
    }

    .image {
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.required {
    display: inline-block;
    position: relative;

    &:before {
        content: "*";
        position: absolute;
        top: 45%; right: -0.66em;
        transform: translateY(-50%);
        font-size: inherit;
        color: $orange;
    }
}

.hidden-mob {
    @include respond(md) {
        display: none !important;
    }
}

.hidden-lg {
    @media only screen and (min-width: 1024px) {
        display: none !important;
    }
}
