@import "reset";
@import "fonts";
@import "vars";

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: $black;
}

h2, h3, h4 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 5.125rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.625rem;
} 

h4, h5 {
    font-size: 1.3125rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    transition: all 0.15s ease-in;
}

a:hover {
    text-decoration: underline;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

b {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn {
    border-width: 0;
    border-color: #ff5a00;
    border-style: solid;
    padding: 1.52em 2.64em;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.06rem;
    font-weight: 500;
    color: $white;
    background: #ff5a00;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
    transition: all 0.15s ease-in;
    cursor: pointer;

    &:hover {
        color: inherit;
    }

    &_sm {
        font-size: 0.875rem;
        padding: 0.71em 1.71em;
    }

    &_block {
        display: block;
        width: 100%;
    }

    &_bg-transparent {
        background: transparent;
    }

    &_bg-white {
        background: #ffffff;
        color: $black;
    }

    &_bg-dark-blue {
        background: #172239;
    }

    &_color-black {
        color: #000000;
    }
    
    &_border-3 {
        border-width: 3px;
    }

    &_border-2 {
        border-width: 2px;
    }

    &_border-1 {
        border-width: 1px;
    }

    &_border-white {
        border-color: #ffffff;
    }

    &_border-gray {
        border-color: #cdcdcd;
    }
}

.layout {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.keepcenter {
    max-width: 1171px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.image-wrapper,
.video-wrapper {
    position: relative;

    &:before {
        display: block;
        padding-top: 50%;
        content: "";
    }

    .image,
    .video {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
