@mixin respond($device) {

    @if $device == xl {
        @media only screen and (max-width: 1399px) {
            @content;
        }
    };

    @if $device == lg {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    };

    @if $device == md {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    };

    @if $device == us {
        @media only screen and (max-width: 479px) {
            @content;
        }
    };
}

@function toRem($pixels) {
    @return ($pixels / 16) + rem;
}

@function toEm($pixels, $parentfont: 16) {
    @return ($pixels / $parentfont) + em;
}

$i-mapsign: f277;
$i-university: f19c;
$i-calendarcheck: f274;
$i-banknote: f0d6;
$i-reply: f122;
$i-arrowright: f138;
$i-xsquare: f2d3;
$i-addresscard: f2bb;
$i-visa: f1f0;
$i-arrowdown: f175;

$black: #000000;
$white: #ffffff;
$gray: #bbbbbb;
$orange: #ff5a00;
$dark-blue: #18598b;
$light-blue: #0078d4;
$body-color: #f1f1f1;