@import "sets";

//  header begin
.header {
    background-image: url("../img/background_1.1.jpg");
    background-position: 50% 50%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1.25em;
    padding-bottom: 2.375em;
    color: $white;
    z-index: 100;

    @include respond(md) {
        padding: 0;
    }

    a {
        color: $white;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include respond(md) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__left-column {
        @include respond(md) {
            background-color: $white;
            text-align: center;
            padding: 0.75em 0px;
            margin-right: -18px;
            margin-left: -18px;
            margin-bottom: 1.125em;
        }
    }

    .header__logo {
        display: inline-block;
        max-width: 288px;
        min-width: 180px;
    }

    &__right-column {

        @include respond(md) {
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__contact {
        margin-bottom: 1rem;
        
        @include respond(md) {
            margin-bottom: 0;
        }

        .contact-label {
            font-size: 0.875rem;
            
            @include respond(md) {
                display: none;
            }
        }

        .contact {
            font-size: 1.375rem;
            font-weight: 500;
            text-decoration: none;
            display: block;

            @include respond(md) {
                font-size: 0.625rem;
            }
        }
    }

    &_no-bg {
        background: transparent;
    }

    &_absolute-lg {
        position: absolute;
        left: 0; top: 0;
    }
}
//  header end

// main begin

.main {

}

.section {
    position: relative;

    &:before,
    &:after {
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    &__title {
         position: relative;
 
         &:after {
             content: "";
             width: 115px;
             height: 3px;
             position: absolute;
             bottom: -0.625em ; left: 0;
             background-image: url("../img/art_work_4.png");
             background-repeat: no-repeat;
             background-size: contain;
             background-position: 0% 50%;
         }
 
         &_center {
             text-align: center;
 
             &:after {
                 content: "";
                 left: 50%;
                 transform: translateX(-50%);
             }
 
         }
    } 
 }

.head-section {
    text-align: center;
    color: $white;
    padding-top: 1.25em;
    background-image: url("../img/background_1.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        width: 100%;
        height: 628px;        
        left: 0; bottom: -185px;
        transform: translateY(50%);
        background-image: url("../img/background_0.png");
        background-position: 50% 50%;
    }

    @include respond(md) {
        padding-top: 9.5em;
    }

    &__column {
        position: relative;
        z-index: 10;
        display: inline-block;
        max-width: 45.7%;

        @include respond(md) {
            max-width: 100%;
        }
    }

    &__logo {
        text-decoration: none;
        display: inline-block;
        width: 82px;
        margin-bottom: 2.875rem;

        @include respond(md) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 0.38em;
        line-height: 1.3;

        @include respond(md) {
            margin-bottom: 1.5rem;
        }

        .weight-lighter {
            font-weight: 500;
        }

        .highlighted {
            display: block;
            font-size: 5.125rem;
            text-transform: uppercase;
            
            @include respond(md) {
                font-size: 2.25rem;
            }
        }
    }
    &__subtitle {
        font-size: toRem(22);
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: toEm(29, 22);

        @include respond(md) {
            padding: 0 2.25em;
        }
    }

    &__text-like-subtitle {
        font-weight: 300;
        margin-bottom: 1.9em;
    }

    &__btn-holder {
        margin-bottom: 5rem;
    }
}

.advantages {
    font-size: 1.375rem;

    &:before {
        width: 100%;
        height: 1124px;        
        left: 0; top: 0;
        background-image: url("../img/background_2.png");
        background-position: 100% 100%;
    }

    &:after {
        width: 507px;
        height: 773px;
        top: 0; right: -144px;
        transform: translateX(-100%); 
        background-position: 50% 50%;
        background-image: url("../img/art_work_3.png");
    }
    
    &__inner {
        padding-top: 7.5rem;
        padding-bottom: 15.7rem;
        position: relative;
    }

    &__title {
        margin-bottom: 2.75em;
    }

    &__title ,
    &__list {
        max-width: 65%;
    }
    
    &__list {}

    &__item {
        padding-left: 2em;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &:before {
            position: absolute;
            left: 0; top: 50%;
            transform: translateY(-50%);
            font-family: "FontAwesome";
            font-weight: 400;
            font-size: 1.05em;
            color: $light-blue;
            transform: translate( 0%, -50%);
        }

    }

    .i-visa {
        &:before {
            content: "\f1f0";
        }
    }

    .i-addresscard {
        &:before {
            content: "\f2bb";
        }
    }

    .i-xsquare {
        &:before {
            content: "\f2d3";
        }
    }

    .i-mapsign {
        &:before {
            content: "\f277";
        }
    }

    .i-university {
        &:before {
            content: "\f19c";
        }
    }
}

.about {
    z-index: 60;

    &__inner {
        padding: 0px 10px;
        padding-bottom: 5.25rem;
        max-width: 934px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 1.65em;
        margin-left: 5.25rem ;
    }

    &__text-block {
        padding: 3.5em 3.75em 3.75em 5.25rem;
        margin-bottom: 7.6rem;
        background-color: $white;
        position: relative;
        line-height: 1.99;
    }

    p {
        margin-bottom: 1.6em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__blockquote {
        font-family: "Myriad Pro", "Roboto", sans-serif;
        line-height: 1.3;
        display: block;
        margin: 0 auto;
        max-width: 562px;
        padding: 0 24px;
        font-size: 1.375rem;
        font-style: italic;
        position: relative;

        &:before {
            content: "“";
            position: absolute;
            font-size: 4.54em;
            line-height: 2.1rem;
            left: -7px; top: 17px;
            font-family: "Montserrat", "Roboto", sans-serif;
            font-weight: bold;
            font-style: italic;
            color: $light-blue;
            transform: translate(-50%, -50%);
        }
    }

}

.container {    
    display: flex;
    justify-content: space-between;
}

.conditions {
    z-index: 50;
    
    &:before {
        width: 100%;
        height: 1784px;
        background-image: url("../img/background_3.png");
        background-position: 50% 50%;
        left: 0; top: -421px;
        z-index: -1;
    }

    &:after {
        width: 624px;
        height: 928px;
        background-image: url("../img/art_work_5.png");
        right: 237px; top: -13px;
    }


    &__inner {
        padding-top: toRem(96);
    }

    &__title {
        margin-bottom: 5.1rem;
    }

    .subsection-card {
        margin-bottom: 5.5rem;
    } 

    .subsection-list {

        .title-block {
            margin-bottom: toRem(30);
            padding-left: toRem(33);
        }

        .heading {
            font-size: toRem(28);
            font-weight: 400;
            color: $light-blue;
            margin-bottom: 0;
        }

        .caption {
            font-size: toRem(18);
        }

        .conditions__column {
            flex-basis: 48.7%;
            background-color: $white;
            padding: toRem(36) toRem(82) toRem(21) toRem(33);
            margin-bottom: 0;
        }
        
        .list-title {
            font-size: toRem(18);
            margin-bottom: toEm(25,18);
            font-weight: bold;
        }

        .list {

        }

        .list__item {
            margin-bottom: toEm(14,16);
            padding-left: toEm(30,16);
            position: relative;

            &:before {
                content: "\f138";
                position: absolute;
                left: 0; top: 50%;
                transform: translateY(-50%);
                font-family: "FontAwesome";
                font-weight: 400;
                color: $gray;
            }
        }
    } 

    &__card {
        
    }

    .card {
        font-size: toRem(20);
        width: toRem(347);
        padding: toEm(40, 20) toEm(70, 20) toEm(40, 20) toEm(36, 20);
        background-color: $white;
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            left: -1px; top: 0px;
            width: 580px;
            height: 520px;
            background-image: url("../img/art_work_6.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
        }

        &__title {
            margin-bottom: 1.7em;
        }

        &__list {}

        &__item {
            padding-left: 2.2em;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 2.5em;
            }

            &:before {
                position: absolute;
                left: 0; top: 0;
                font-family: "FontAwesome";
                font-weight: 400;
                color: $light-blue;
                font-size: 1.4em;
            }
        }

        .i-calendar {           
            &:before {
                content: "\f274";
            }
        }

        .i-money {
            &:before {
                content: "\f0d6";
            }
        }
        
        .i-reply {
            &:before {
                content: "\f122";
            }
        }
        
        &__subject {
            font-size: 1.875rem;
        }

        &__text {
            font-weight: 300;
        }
    }
}


.offer-frame {
    background-color: $white;
    position: relative;
    font-size: toRem(17);
    margin: 0 auto;
    max-width: 915px;
    padding: toRem(52) 8% toRem(74);
    text-align: center;

    &__title {
        margin-bottom: toEm(72,32);
    }
}

.options {
    padding-top: 12.8rem;
    background-image: url("../img/background_4.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-bottom: toRem(180);
    z-index: 40;

    &:after {
        width: 100%;
        height: 1478px;
        background-image: url("../img/background_5.png");
        left: 0; top: 690px;
        background-position: 50% 50%;
        background-size: contain;
        z-index: -1;
    }

    &__title {
        max-width: toRem(660);
        margin: 0 auto;
        margin-bottom: toRem(125);
        line-height: 1.37;
    }

    .narrow-holder {
        max-width: 970px;
        margin: 0 auto;
    }

    &__column {
        color: $white;
        background-color: rgba(24, 103, 163, 0.9);
        border-radius: 10px;
        flex-basis: toRem(470);
        text-align: center;
        padding: toRem(44) toRem(32) toRem(20);
        margin-bottom: toRem(176);
    }

    .column {
        &__title {
            text-transform: uppercase;
            font-size: toRem(16);
            margin-bottom: toEm(20,16);
        }

        &__subject {
            font-size: toRem(29);
            font-weight: 300;
            margin-bottom: toEm(30, 29);
        }

        &__text {
            font-weight: 300;
            line-height: 1.4;
        }
    }
}

.steps {
    overflow: hidden;
    z-index: 50;

    &__title {
        margin-bottom: toEm(150, 32);
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: -32px;
        margin-bottom: toRem(107);
    }

    &__item {
        margin-right: 32px;
        margin-bottom: toRem(65);
        flex-basis: calc(50% - 32px);
    }

    &__offer {
        margin-bottom: toRem(180);
    }
}

.step-card {
    max-width: 570px;
    background-color: $white;
    font-size: toRem(14);
    position: relative;
    padding: toRem(30) toRem(40) toRem(22) toRem(46);
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.07);

    &__label {
        font-family: "Inter UI", "Roboto", sans-serif;
        font-size: toRem(30);
        color: $white;
        width: 86px;
        height: 86px;
        line-height: 76px;
        background-color: $light-blue;
        border: 7px solid $body-color;
        border-radius: 50%;
        position: absolute;
        top: 0; right: 46px;
        transform: translateY(-50%);
        text-align: center;
        display: inline-block;
    }

    &__title {
        margin-bottom: toEm(26, 21);
    }
}

.our-advantages {

    &__inner {
        padding-bottom: toRem(132);
    }

    &__column {
        max-width: 670px;
    }

    &__title {
        margin-bottom: toEm(65, 32);
    }
    
    &__subtitle {
        font-size: toRem(18);
        margin-bottom: toEm(14, 18);
    }

    &__item {
        margin-bottom: 5px;
        padding-bottom: 1px;

        &:last-child {
            margin-bottom: 30px;
        }
    }
}

.special-offer {
    background-color: $dark-blue;
    color: $white;

    &__inner {
        max-width: 944px;
        margin: 0 auto;
        padding-top: toRem(55);
        padding-bottom: 1px;
        text-align: center;
    }

    &__title {
        margin-bottom: toEm(75, 32);
    }

    &__text {
        padding: 0 toRem(100);
    }

    &__buttons {
        margin-bottom: toRem(75);
    }

    &__btn {
        &:not(:first-child) {
            margin-left: toRem(28);
        }
    }
}

// main end


// footer begin
.footer {
    padding-top: 2.5em;
    padding-bottom: 2.875em;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(md) {
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
        }
    } 

    &__left-column,
    &__center-column {
        @include respond(md) {
            margin-bottom: 1.875em;
        }
    }

    &__contact {
        .contact-label {

        }

        .contact {
            display: block;
            text-decoration: none;
            font-size: 1.81rem;
            color: $black;
            font-weight: 700;
        }
    }

    .footer__socials {
        font-size: 0;
    }
}

.social {
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
    
    &:not(:first-child) {
        margin-left: -6px;
    }

    &:hover {
        transform: scale(1.1);
        z-index: 10;
    }

    &__icon {
        width: 2.8125rem;
        height: 2.8125rem;
    }

    &_viber {
        z-index: 2;
    }

    &_whatsApp {
        z-index: 1;
    }

    &_telegram {
        .social__icon {
            width: 2.875‬rem;
            height: 2.875‬rem;
        }
    }
}
// footer end

.md-hide {
    @include respond(md) {
        display: none !important;
    }
}

.md-show {   
    display: none;

    @include respond(md) {
        display: block !important;
    
        &_dib {
            display: inline-block !important;
        }
    }
}