@import "sets";

//  header begin
.header {
    background-image: url("../img/background_1.1.jpg");
    background-position: 50% 50%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1.25em;
    padding-bottom: 2.375em;
    color: $white;
    z-index: 100;

    @include respond(md) {
        padding: 0;
    }

    a {
        color: $white;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include respond(md) {
            flex-direction: column;
            justify-content: flex-start;
            padding-bottom: toRem(17);
        }
    }

    &__left-column {        
        @include respond(md) {
            background-color: $white;
            text-align: center;
            padding: 0.75em 0px;
            margin-right: -$md-indent;
            margin-left: -$md-indent;
            margin-bottom: 1.125em;
        }

        @include respond(sm) {
            margin-right: -$sm-indent;
            margin-left: -$sm-indent;
        }

        @include respond(xs) {
            margin-right: -$xs-narrow-indent;
            margin-left: -$xs-narrow-indent;
        }
    }

    .header__logo {
        display: inline-block;
        max-width: 288px;
        min-width: 180px;
    }

    &__right-column {

        @include respond(md) {
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__contact {
        margin-bottom: 1rem;
        
        @include respond(md) {
            margin-bottom: 0;
        }

        .contact-label {
            font-size: 0.875rem;
            
            @include respond(md) {
                display: none;
            }
        }

        .contact {
            font-size: 1.375rem;
            font-weight: 500;
            text-decoration: none;
            display: block;

            @include respond(md) {
                font-size: 0.625rem;
            }
        }
    }

    &_no-bg {
        background: transparent;
    }

    &_absolute-lg {
        position: absolute;
        left: 0; top: 0;
    }
}
//  header end

// main begin

.main {

}

.section {
    position: relative;

    &:before,
    &:after {
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }
}

.marked-title {
    position: relative;

    &:after {
        content: "";
        width: 115px;
        height: 3px;
        position: absolute;
        bottom: -0.625em ; left: 0;
        background-image: url("../img/art_work_4.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0% 50%;
    }

    &_center {
        text-align: center;

        &:after {
            content: "";
            left: 50%;
            transform: translateX(-50%);
        }

    }
} 

.linear-shadow {
    position: relative;
    z-index: 1;
    
    &:before,
    &:after {
        content: "";
        height: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    &:before {
        width: calc(100% - 20px);
        background-color: #d2d2d2;
        top: calc(100% + 3px);
    }

    &:after {
        top: 100%;
        width: calc(100% - 10px);
        background-color: #e0e0e0;
    }
}

.head-section {
    text-align: center;
    color: $white;
    padding-top: 1.25em;
    background-image: url("../img/background_1.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        width: 100%;
        height: 628px;        
        left: 0; 
        bottom: -185px;
        transform: translateY(50%);
        background-image: url("../img/background_0.png");
        background-position: 50% 50%;

        @include respond(xl) {
            height: tovw(628);         
            bottom: - tovw(185);     
        }
    }

    @include respond(md) {
        padding-top: toRem(135);
    }

    &__column {
        position: relative;
        z-index: 10;
        display: inline-block;
        max-width: 45.7%;

        @include respond(md) {
            max-width: 100%;
        }
    }

    &__logo {
        text-decoration: none;
        display: inline-block;
        width: 82px;
        margin-bottom: 2.875rem;

        @include respond(md) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 0.38em;

        @include respond(md) {
            margin-bottom: 1.5rem;
        }

        .weight-lighter {
            font-weight: 500;
        }

        .highlighted {
            display: block;
            font-size: 5.125rem;
            text-transform: uppercase;
            
            @include respond(md) {
                font-size: 2.25rem;
            }
        }
    }

    &__subtitle {
        font-size: toRem(22);
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: toEm(29, 22);

        @include respond(md) {
            padding: 0 2em;
        }
    }

    &__text-like-subtitle {
        font-weight: 300;
        margin-bottom: 1.9em;
        line-height: 1.9;

        @include respond(md) {
            letter-spacing: 1px;
        }
    }

    &__btn-holder {
        margin-bottom: 5rem;
    }
}

.advantages {
    font-size: 1.375rem;

    @include respond(md) {
        font-size: toRem(18);
        font-weight: 300;
    }

    &:before {
        width: 100%;
        height: 1124px;        
        left: 0; top: 0;
        background-image: url("../img/background_2.png");
        background-position: 100% 100%;

        @include respond(xl) {
            height: tovw(1124);
        }
    }

    &:after {
        width: 507px;
        height: 773px;
        top: 0; right: -144px;
        transform: translateX(-100%); 
        background-position: 50% 50%;
        background-image: url("../img/art_work_3.png");

        @include respond(xl) {
            height: tovw(773);
            width: tovw(507);
            right: - tovw(144);
        }
    }
    
    &__inner {
        padding-top: 7.5rem;
        padding-bottom: 15.7rem;
        position: relative;

        @include respond(md) {
            padding-top: toRem(14);
            padding-bottom: toRem(106);
        }
    }

    &__title {
        margin-bottom: 2.75em;

        @include respond(md) {
            margin-bottom: toRem(46);
        }
    }

    &__title ,
    &__list {
        max-width: 65%;

        @include respond(md) {
            max-width: 100%;
        }
    }
    
    &__list {
    }

    &__item {
        padding-left: 2em;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &:before {
            position: absolute;
            left: 0; top: 50%;
            transform: translateY(-50%);
            font-family: "FontAwesome";
            font-weight: 400;
            font-size: 1.05em;
            color: $light-blue;
            transform: translate( 0%, -50%);

            @include respond(md) {
                top: 0;
                transform: translate( 0%, 2px);
            }
        }

    }

    .i-visa {
        &:before {
            content: "\f1f0";
        }
    }

    .i-addresscard {
        &:before {
            content: "\f2bb";
        }
    }

    .i-xsquare {
        &:before {
            content: "\f2d3";
        }
    }

    .i-mapsign {
        &:before {
            content: "\f277";
        }
    }

    .i-university {
        &:before {
            content: "\f19c";
        }
    }
}

.about {
    z-index: 60;

    &__inner {
        padding: 0px 10px;
        padding-bottom: 5.25rem;
        max-width: 934px;
        margin: 0 auto;

        @include respond(md) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__title {
        margin-bottom: 1.65em;
        margin-left: 5.25rem ;

        @include respond(md) {
            margin-left: 0;
        }
    }

    &__text-block {
        padding: 3.5em 3.75em 3.75em 5.25rem;
        margin-bottom: 7.6rem;
        background-color: $white;
        position: relative;
        line-height: 1.99;

        @include respond(md) {
            padding: toRem(25) toRem(10) toRem(39) toRem(20);
            margin-right: -5px;
            margin-left: -10px;
            margin-bottom: toRem(110);
        }
    }

    p {
        margin-bottom: 1.6em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__blockquote {
        font-family: "Myriad Pro", "Roboto", sans-serif;
        display: block;
        margin: 0 auto;
        max-width: 562px;
        padding: 0 24px;
        font-size: 1.375rem;
        font-style: italic;
        position: relative;

        @include respond(md) {
            font-size: toRem(18);
            padding-right: 12px;
        }

        &:before {
            content: "“";
            position: absolute;
            font-size: 4.54em;
            line-height: 2.1rem;
            left: -7px; top: 17px;
            font-family: "Montserrat", "Roboto", sans-serif;
            font-weight: bold;
            font-style: italic;
            color: $light-blue;
            transform: translate(-50%, -50%);

            @include respond(md) {
                left: 18px; top: -4px;
            }
        }
    }

}

.container {    
    display: flex;
    justify-content: space-between;

    @include respond(md) {
        flex-direction: column;
    }
}

.conditions {
    z-index: 50;
    
    &:before {
        width: 100%;
        height: 1784px;
        background-image: url("../img/background_3.png");
        background-position: 50% 50%;
        left: 0; bottom: -182px;
        z-index: -1;

        @include respond(xl) {
            height: tovw(1784);
            bottom: - tovw(182);
        }
    }

    &:after {
        width: 624px;
        height: 928px;
        background-image: url("../img/art_work_5.png");
        right: 237px; bottom: 258px;
        z-index: -1;

        @include respond(xl) {
            width: tovw(624);
            height: tovw(928);
            right: tovw(237);
            bottom: tovw(258);
        }
    }


    &__inner {
        padding-top: toRem(96);

        @include respond(md) {
            padding-top: toRem(22);
        }
    }

    &__title {
        margin-bottom: 5.1rem;

        @include respond(md) {
            margin-bottom: toRem(45);
        }
    }

    .subsection-card {
        margin-bottom: 5.5rem;

        @include respond(md) {
            margin-bottom: 2.5rem;
        }
    } 

    .subsection-list {

        @include respond(md) {
            font-size: toRem(15);
        }

        .title-block {
            margin-bottom: toRem(30);
            padding-left: toRem(33);

            @include respond(md) {
                padding-left: 0;
                margin-bottom: toRem(20);
            }
        }

        .heading {
            font-size: toRem(28);
            font-weight: 400;
            color: $light-blue;
            margin-bottom: 0;

            @include respond(md) {
                font-size: toRem(22);
            }
        }

        .caption {
            font-size: toRem(18);

            @include respond(md) {
                font-size: toRem(14);
            }
        }

        .conditions__column {
            flex-basis: 48.7%;
            background-color: $white;
            padding: toRem(36) toRem(82) toRem(21) toRem(33);
            margin-bottom: 0;

            @include respond(md) {
                margin-bottom: toRem(22);
                padding: toRem(25) toRem(24) toRem(21) toRem(20);
            }
        }
        
        .list-title {
            margin-bottom: toEm(25,18);
            font-weight: bold;

            @include respond(md) {
                margin-bottom: toRem(20);
            }
        }
    } 

    &__card {
        
    }

    .card {
        font-size: toRem(20);
        width: toRem(347);
        padding: toEm(40, 20) toEm(70, 20) toEm(40, 20) toEm(36, 20);
        background-color: $white;
        position: relative;
        z-index: 1;

        @include respond(md) {
            width: auto;
            font-size: toRem(18);
            padding: toRem(26) toRem(62) toRem(25) toRem(20);
        }

        &:after {
            content: "";
            position: absolute;
            left: -1px; top: 0px;
            width: 580px;
            height: 485px;
            background-image: url("../img/art_work_6.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;

            @include respond(md) {
                display: none;
            }
        }

        &__title {
            margin-bottom: 1.7em;
        }

        &__list {}

        &__item {
            padding-left: 2.2em;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 2.5em;

                @include respond(md) {
                    margin-bottom: toRem(22);
                }
            }

            &:before {
                position: absolute;
                left: 0; top: 0;
                font-family: "FontAwesome";
                font-weight: 400;
                color: $light-blue;
                font-size: 1.4em;
            }
        }

        .i-calendar {           
            &:before {
                content: "\f274";
            }
        }

        .i-money {
            &:before {
                content: "\f0d6";
            }
        }
        
        .i-reply {
            &:before {
                content: "\f122";
            }
        }
        
        &__subject {
            font-size: 1.875rem;

            @include respond(md) {
                font-size: toRem(28);
            }
        }

        &__text {
            font-weight: 300;
        }
    }
}

.list {
    &__item {
        margin-bottom: toEm(14,16);
        padding-left: toEm(30,16);
        position: relative;

        @include respond(md) {
            &:last-of-type {
                margin-bottom: toEm(20, 15);
            }
        }

        &:before {
            content: "\f138";
            position: absolute;
            left: 0; top: 50%;
            transform: translateY(-50%);
            font-family: "FontAwesome";
            font-weight: 400;
            color: $gray;
        }
    }
}


.offer-frame {
    background-color: $white;
    position: relative;
    font-size: toRem(17);
    margin: 0 auto;
    max-width: 915px;
    padding: toRem(52) 8% toRem(74);
    text-align: center;

    &__title {
        margin-bottom: toEm(72,32);
    }

    @include respond(md) {
        padding: toRem(30) toRem(15) toRem(20);
    }
}

.options {
    padding-top: 12.8rem;
    background-image: url("../img/background_4.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-bottom: toRem(180);
    z-index: 40;

    @include respond(md) {
        padding-top: 5.3rem;
        font-size: toRem(14);
        margin-bottom: toRem(96);
    }

    &:after {
        width: 100%;
        height: 1478px;
        background-image: url("../img/background_5.png");
        left: 0; bottom: -995px;
        background-position: 50% 50%;
        background-size: contain;
        z-index: -1;

        @include respond(xl) {
            height: tovw(1478);
            bottom: - tovw(995);
        }
    }

    &__title {
        max-width: toRem(660);
        margin: 0 auto;
        margin-bottom: toRem(125);
        line-height: 1.37;

        @include respond(md) {
            margin-bottom: toRem(40);
        }
    }

    .narrow-holder {
        max-width: 970px;
        margin: 0 auto;

        @include respond(md) {
            margin-bottom: toRem(42);
            padding-bottom: 1px;
        }
    }

    &__column {
        color: $white;
        background-color: rgba(24, 103, 163, 0.9);
        border-radius: 10px;
        flex-basis: toRem(470);
        text-align: center;
        padding: toRem(44) toRem(32) toRem(20);
        margin-bottom: toRem(176);

        @include respond(md) {
            background-color: rgba(0, 89, 158, 0.9);
            padding: toRem(37) toRem(20) toRem(10);
            flex-basis: auto;
            margin-bottom: toRem(32);
        }
    }

    .column {
        &__title {
            text-transform: uppercase;
            font-size: toRem(16);
            margin-bottom: toEm(20,16);
        }

        &__subject {
            font-size: toRem(29);
            font-weight: 300;
            margin-bottom: toEm(30, 29);
        }

        &__text {
            font-weight: 300;
            line-height: 1.4;

            @include respond(md) {
                margin-bottom: toRem(8);
            }
        }
    }
}

.steps {
    overflow: hidden;
    z-index: 50;

    &__title {
        margin-bottom: toEm(150, 32);

        @include respond(md) {
            padding: 0px toRem(28) 0px;
            margin-bottom: toRem(58);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: -32px;
        margin-bottom: toRem(107);

        @include respond(md) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            margin-right: 0;
            margin-bottom: toRem(36);
        }
    }

    &__item {
        margin-right: 32px;
        margin-bottom: toRem(65);
        flex-basis: calc(50% - 32px);

        @include respond(md) {
            flex-basis: auto;
            margin-right: 0;
            margin-bottom: toRem(34);
        }
    }

    &__offer {
        margin-bottom: toRem(180);

        @include respond(md) {
            margin-bottom: toRem(105);
        }
    }
}

.step-card {
    max-width: 570px;
    background-color: $white;
    font-size: toRem(14);
    position: relative;
    padding: toRem(30) toRem(40) toRem(22) toRem(46);
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.07);

    @include respond(md) {
        padding: toRem(30) toRem(20) toRem(20) toRem(20);
    }

    &__label {
        font-family: "Inter UI", "Roboto", sans-serif;
        font-size: toRem(30);
        color: $white;
        width: 86px;
        height: 86px;
        line-height: 76px;
        background-color: $light-blue;
        border: 7px solid $body-color;
        border-radius: 50%;
        position: absolute;
        top: 0; right: 46px;
        transform: translateY(-50%);
        text-align: center;
        display: inline-block;

        @include respond(md) {
            font-size: toRem(15);
            width: 45px;
            height: 45px;
            right: 14px;
            line-height: 39px;
            border: 3px solid $body-color;
        }
    }

    &__title {
        margin-bottom: toEm(26, 21);

        @include respond(md) {
            letter-spacing: -1px;
            margin-bottom: 1rem;
            line-height: 1.2
        }
    }

    &__text {
        @include respond(md) {
            margin-bottom: toRem(11);
        }
    }
}

.our-advantages {
    z-index: 49;

    &:after {
        width: 100%;
        height: 1835px;
        background-size: contain;
        background-image: url("../img/background_6.png");
        left: 0; bottom: -69px;
        z-index: -1;

        @include respond(xl) {
            height: tovw(1835);
            bottom: - tovw(69);
        }
    }

    &__inner {
        padding-bottom: toRem(132);
        position: relative;

        @include respond(md) {
            padding-bottom: toRem(72);
        }

        &:before {
            content: "";
            position: absolute;
            right: 0; bottom: 0;
            width: 475px;
            height: 811px;
            background-image: url("../img/art_work_7.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0 0;

            @include respond(xl) {
                width: tovw(475);
                height: tovw(811);
            }

            @include respond(md) {
                display: none;
            }
        }
    }

    &__column {
        max-width: 670px;
    }

    &__title {
        margin-bottom: toEm(65, 32);

        @include respond(md) {
            margin-bottom: toRem(58);
        }
    }
    
    &__subtitle {
        font-size: toRem(18);
        margin-bottom: toEm(14, 18);
    }

    &__item {
        margin-bottom: 5px;
        padding-bottom: 1px;

        &:last-child {
            margin-bottom: 30px;

            @include respond(md) {
                margin-bottom: 0;
            }
        }
    }
}

.special-offer {
    background-color: $dark-blue;
    color: $white;
    z-index: 50;

    @include respond(md) {
        font-size: toRem(15);
    }

    &__inner {
        max-width: 944px;
        margin: 0 auto;
        padding-top: toRem(55);
        padding-bottom: 1px;
        text-align: center;

        @include respond(md) {
            padding-top: toRem(35);
        }
    }

    &__title {
        margin-bottom: toEm(75, 32);

        @include respond(md) {
            margin-bottom: toRem(44);
        }
    }

    &__text {
        padding: 0 toRem(100);
        margin-bottom: toRem(62);

        @include respond(md) {
            padding: 0;
            margin-bottom: toRem(30);
        }
    }

    &__buttons {
        margin-bottom: toRem(75);

        @include respond(md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: toRem(39);
        }
    }

    &__btn {
        &:not(:first-child) {
            margin-left: toRem(28);

            @include respond(md) {
                margin-left: 0;
            }
        }

        &:not(:last-child) {
            @include respond(md) {
                margin-bottom: 1rem;
            }
        }
        
    }
}

// main end


// footer begin
.footer {
    padding-top: 2.5em;
    padding-bottom: 2.875em;

    @include respond(md) {
        font-size: toRem(14);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(md) {
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
        }
    } 

    &__left-column,
    &__center-column {
        @include respond(md) {
            margin-bottom: 1.875em;
        }
    }

    &__contact {
        .contact-label {
            @include respond(md) {
                display: inline-block;
                margin-bottom: 5px;
            }
        }

        .contact {
            display: block;
            text-decoration: none;
            font-size: 1.81rem;
            color: $black;
            font-weight: 700;

            @include respond(md) {
                font-size: toRem(26);
            }
        }
    }

    .footer__socials {
        font-size: 0;
    }
}

.social {
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
    
    &:not(:first-child) {
        margin-left: -6px;
    }

    &:hover {
        transform: scale(1.1);
        z-index: 10;
    }

    &__icon {
        width: 2.8125rem;
        height: 2.8125rem;
    }

    &_viber {
        z-index: 2;
    }

    &_whatsApp {
        z-index: 1;
    }

    &_telegram {
        .social__icon {
            width: 2.875‬rem;
            height: 2.875‬rem;
        }
    }
}
// footer end

.md-hide {
    @include respond(md) {
        display: none !important;
    }
}

.md-show {   
    display: none;

    @include respond(md) {
        display: block !important;
    
        &_dib {
            display: inline-block !important;
        }
    }
}

// guide page begin

.guide,
.calc-section {
    overflow: hidden;

    &:after {
        width: 100%;
        height: 1407px;
        left: 0; bottom: -486px;
        background-image: url("../img/background_8.png");
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1;

        @include respond(xl) {
            height: tovw(1407);
            bottom: - tovw(486);
        }
    }
}

.guide {
    
    &__inner {
        padding-top: toRem(86);
        padding-bottom: 1px;

        @include respond(md) {
            padding-top: toRem(18);
            padding-bottom: toRem(92);
        }
    }

    &__column {
        width: calc(50% - 15px);

        @include respond(md) {
            width: auto;
        }
    }

    &__manual-image {
        margin-top: toRem(20);
        margin-bottom: toRem(35);
    }

    &__figcaption {
        font-size: toRem(14);
        display: block;
        font-weight: 300;
        margin-bottom: toRem(32);
    }

    &__list {
        margin-bottom: toRem(158);

        @include respond(md) {
            margin-bottom: toRem(52);
        }
    }
}

//  guide page end

.form-container {
    margin-right: - diffNarrows();
    margin-left: - diffNarrows();
}

.form {
    padding: toRem(50) toRem(47) 0 toRem(47);
    background-color: $white;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.15);

    @include respond(md) {
        padding: toRem(23) toRem(20) 0 toRem(20);
        max-width: 500px;
        margin: 0 auto;
    }

    &__heading {
        margin-bottom: toRem(21);
        padding-bottom: 1px;

        @include respond(md) {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: toRem(24);
        margin-bottom: toEm(35,24);

        @include respond(md) {
            font-size: toRem(18);
        }
    }

    &__heading-title {
        margin-bottom: toRem(10);

        @include respond(md) {
            margin-bottom: 1rem;
        }
    }

    &__desc {
        @include respond(md) {
            font-size: toRem(14);
        }
    }

    &__pick {
        display: flex;
        margin-bottom: toRem(38);

        @include respond(md) {
            margin-bottom: toRem(18);
        }
    }

    &__pick-box {

        & + & {
            margin-left: toRem(80);

            @include respond(md) {
                margin-left: toRem(40);
            }
        }
    }

    &__question {
        font-size: toRem(18);
        margin-bottom: toEm(22, 18);

        @include respond(md) {
            font-size: toRem(14);
        }
    }

    &__input {
        margin-bottom: toRem(19);

        @include respond(md) {
            margin-bottom: toRem(12);
        }

        &:last-of-type {
            margin-bottom: toRem(30);

            @include respond(md) {
                margin-bottom: toRem(20);
            }
        }
    }

    form {
        padding-bottom: toRem(84);
        position: relative;

        @include respond(md) {
            padding-bottom: toRem(44);
        }
    }

    input {
        padding: toRem(24);
        font-weight: 300;
        font-size: toRem(18);
        background-color: #f8f8f8;
        border-radius: 5px;
        color: $black;
        width: 100%;
        border: 1px solid #e4e4e4;

        @include respond(md) {
            border-radius: 2px;
            font-size: toRem(14);
            padding: toRem(13) toRem(20);
        }

        &::placeholder {
            color: $black;
        }
    }

    &__text {
        font-size: toRem(14);
        font-weight: 300;
        margin-bottom: toRem(20);

        @include respond(md) {
            font-size: toRem(12);
        }

    }

    &_wide {
        padding: toRem(50) toRem(147) 0 toRem(147);

        @include respond(md) {
            padding: toRem(30) toRem(10) 0 toRem(20);
        }
    }
}

// costs page begin

.calc-section {
    padding-top: toRem(80);
    padding-bottom: toRem(110);

    @include respond(md) {
        padding-top: toRem(32);
        padding-bottom: toRem(36);
    }

    &__holder {
        max-width: 770px;
        margin: 0 auto;
    }

    &__titles {
        font-size: toRem(36);
        padding-bottom: 1px;
        margin-bottom: toRem(110);

        @include respond(md) {
            margin-bottom: toRem(67);

            &.marked-title {
                &:after {
                    bottom: -0.525em;
                } 
            }
        }

    }

    &__titles

    &__title {
        margin-bottom: 0;

        @include respond(md) {
            margin-bottom: toRem(12);
        }
    }

    &__subtitle {
        font-weight: 500;
        margin-bottom: 0;

        @include respond(md) {
            font-size: toRem(16);
            padding: 0 toRem(20);
        }
    }

    &__form {
        margin-bottom: toRem(95);

        @include respond(md) {
            margin-bottom: toRem(70);
        }
    }

    &__text {
        font-size: toRem(18);
        padding-bottom: 1px;

        @include respond(md) {
            font-size: toRem(14);
            padding: 0 diffNarrows() 1px;
            max-width: 500px;
            margin: 0 auto;            
        }

        p {
            margin-bottom: 1em;

            @include respond(md) {
                margin-bottom: 1rem;
            }
        }
    }
}


// costs page end