@import "sets";

//  header begin
.header {
    background-image: url("../img/background_1.1.jpg");
    background-position: 50% 50%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1.25em;
    padding-bottom: 2.375em;
    color: $white;

    @include respond(md) {
        padding: 0;
    }

    a {
        color: $white;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include respond(md) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__left-column {
        @include respond(md) {
            background-color: $white;
            text-align: center;
            padding: 0.75em 0px;
            margin-right: -18px;
            margin-left: -18px;
            margin-bottom: 1.125em;
        }
    }

    .header__logo {
        display: inline-block;
        max-width: 288px;
        min-width: 180px;
    }

    &__right-column {

        @include respond(md) {
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__contact {
        margin-bottom: 1rem;
        
        @include respond(md) {
            margin-bottom: 0;
        }

        .contact-label {
            font-size: 0.875rem;
            
            @include respond(md) {
                display: none;
            }
        }

        .contact {
            font-size: 1.375rem;
            font-weight: 500;
            text-decoration: none;
            display: block;

            @include respond(md) {
                font-size: 0.625rem;
            }
        }
    }

    &_no-bg {
        background: transparent;
    }

    &_absolute-lg {
        position: absolute;
        left: 0; top: 0;
    }
}
//  header end

// main begin

.main {

}

.head-section {
    text-align: center;
    color: $white;
    padding-top: 1.25em;
    background-image: url("../img/background_1.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(md) {
        padding-top: 9.5em;
    }

    &__column {
        position: relative;
        z-index: 10;
        display: inline-block;
        max-width: 45.7%;

        @include respond(md) {
            max-width: 100%;
        }
    }

    &__logo {
        text-decoration: none;
        display: inline-block;
        width: 82px;
        margin-bottom: 2.875rem;

        @include respond(md) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 0.38em;

        @include respond(md) {
            margin-bottom: 1.5rem;
        }

        .weight-lighter {
            font-weight: 500;
        }

        .highlighted {
            display: block;
            font-size: 5.125rem;
            text-transform: uppercase;
            
            @include respond(md) {
                font-size: 2.25rem;
            }
        }
    }
    &__subtitle {
        font-weight: 500;

        @include respond(md) {
            padding: 0 2.25em;
        }
    }

    &__text-like-subtitle {
        font-weight: 300;
        margin-bottom: 1.9em;
    }

    &__btn-holder {
        margin-bottom: 5rem;
    }
}


.section {
   &__title {
        position: relative;

        &:after {
            content: "";
            width: 115px;
            height: 3px;
            position: absolute;
            bottom: -0.625em ; left: 0;
            background-image: url("../img/art_work_4.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0% 50%;
        }
   } 
}

.advantages {
    font-size: 1.375rem;
    
    &__inner {
        padding-top: 7.5rem;
        padding-bottom: 16.9rem;
        position: relative;
    }

    &__title {
        margin-bottom: 2.75em;
    }

    &__title ,
    &__list {
        max-width: 65%;
    }
    
    &__list {}

    &__item {
        padding-left: 2em;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &:before {
            position: absolute;
            left: 0; top: 50%;
            transform: translateY(-50%);
            font-family: "FontAwesome";
            font-weight: 400;
            font-size: 1.05em;
            color: $light-blue;
            transform: translate( 0%, -50%);
        }

    }

    .i-visa {
        &:before {
            content: "\f1f0";
        }
    }

    .i-addresscard {
        &:before {
            content: "\f2bb";
        }
    }

    .i-xsquare {
        &:before {
            content: "\f2d3";
        }
    }

    .i-mapsign {
        &:before {
            content: "\f277";
        }
    }

    .i-university {
        &:before {
            content: "\f19c";
        }
    }
}

.about {
    &__inner {
        padding: 0px 10px;
        padding-bottom: 5.25rem;
        max-width: 934px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 1.65em;
        margin-left: 5.25rem ;
    }

    &__text-block {
        position: relative;
        background-color: $white;
        padding: 3.5em 3.75em 4.4em 5.25rem;
        margin-bottom: 8rem;
    }

    &__text-btn {
        position: absolute;
        left: 50%; bottom: 0;
        transform: translate(-50%, 50%);
    }

    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__blockquote {
        font-family: "Myriad Pro", "Roboto", sans-serif;
        display: block;
        margin: 0 auto;
        max-width: 562px;
        padding: 0 24px;
        font-size: 1.375rem;
        font-style: italic;
        position: relative;

        &:before {
            content: "“";
            position: absolute;
            font-size: 4.54em;
            line-height: 2.1rem;
            left: -7px; top: 17px;
            font-family: "Montserrat", "Roboto", sans-serif;
            font-weight: bold;
            font-style: italic;
            color: $light-blue;
            transform: translate(-50%, -50%);
        }
    }

}

.conditions {
    
    &__inner {
        background-image: url("../img/art_work_5.png");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: contain;
    }

    &__title {
        margin-bottom: 5.1rem;
    }

    &__card {
    }

    .card {
        font-size: 1.25rem;
        width: 21.75rem;
        padding: 1.7em 3.7em 2em 1.75em;
        background-color: $white;
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            left: -1px; top: 0px;
            width: 580px;
            height: 520px;
            background-image: url("../img/art_work_6.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
        }

        &__title {
            margin-bottom: 1.7em;
        }

        &__list {}

        &__item {
            padding-left: 2.2em;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 2.5em;
            }

            &:before {
                position: absolute;
                left: 0; top: 0;
                font-family: "FontAwesome";
                font-weight: 400;
                color: $light-blue;
                font-size: 1.4em;
            }
        }

        .i-calendar {           
            &:before {
                content: "\f274";
            }
        }

        .i-money {
            &:before {
                content: "\f0d6";
            }
        }
        
        .i-reply {
            &:before {
                content: "\f122";
            }
        }
        
        &__subject {
            font-size: 1.875rem;
        }

        &__text {
            font-weight: 300;
        }
    }
}

// main end


// footer begin
.footer {
    padding-top: 2.5em;
    padding-bottom: 2.875em;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(md) {
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
        }
    } 

    &__left-column,
    &__center-column {
        @include respond(md) {
            margin-bottom: 1.875em;
        }
    }

    &__contact {
        .contact-label {

        }

        .contact {
            display: block;
            text-decoration: none;
            font-size: 1.81rem;
            color: $black;
            font-weight: 700;
        }
    }

    .footer__socials {
        font-size: 0;
    }
}

.social {
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
    
    &:not(:first-child) {
        margin-left: -6px;
    }

    &:hover {
        transform: scale(1.1);
        z-index: 10;
    }

    &__icon {
        width: 2.8125rem;
        height: 2.8125rem;
    }

    &_viber {
        z-index: 2;
    }

    &_whatsApp {
        z-index: 1;
    }

    &_telegram {
        .social__icon {
            width: 2.875‬rem;
            height: 2.875‬rem;
        }
    }
}
// footer end

.md-hide {
    @include respond(md) {
        display: none !important;
    }
}

.md-show {   
    display: none;

    @include respond(md) {
        display: block !important;
    
        &_dib {
            display: inline-block !important;
        }
    }
}